body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}


#appointment-time {
    margin: 10px 0;
}

.time-slot-button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
}

.time-slot-button.selected {
    background-color: #007bff;
    color: white;
}

.time-slot-button:hover {
    background-color: #e9ecef;
}


.suggestions-box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    /* width: 100%; */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
