body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input, textarea, select, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#appointment-time {
    margin: 10px 0;
}

.time-slot-button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.time-slot-button.selected {
    background-color: #007bff;
    color: white;
}

.time-slot-button:hover {
    background-color: #e9ecef;
}

.suggestions-box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    width: calc(100% - 22px); /* Adjust width considering padding and border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    form {
        flex-direction: column;
    }

    button {
        width: 100%;
    }
}
